nav.navbar {
    height: 70px;
    width: 100%;
    padding: 0 50px;
    background-color: #EFF0F2;
    @media screen and (max-width: 768px) {
        padding: 0 10px;
    }
}

.navigation-link {
    border: 1px solid black;
    border-radius: 23px;
    background-color: #484848;
    color: #fff;
    width: 186px;
    height: 46px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &:hover {
        color: #484848;
        background-color: #EFF0F2;
        border-color: #484848;
    }
}
